
html, body {
	height: 100%;
}

body {
	display: flex;
	
	flex-direction: row;	
}

.pageHeight {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}
.sidebar-column {
	display: flex;
	flex-direction: column;	
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	min-width: 20em;
	max-width: 25%
}

.searchResultsArea {
	overflow-y: scroll;
	flex:1;
}

.title-label {
	font-size: 1.5em;
}
.main-column {
	flex: 1;
}
table.recipeBlock {
	border-collapse: collapse;
}

table.recipeBlock td {
	border: 1px solid lightgrey;
	padding: 2px;
}


span.label {
	margin-left: 3px;
	margin-right: 3px;
}
p.plaintext {white-space: pre}